*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.App {
  display: flex;
  justify-content: space-evenly;
  
}

@media(max-width: 768px) {
    .App {
      display: flex;
      flex-direction: column;
    }
}
